

.colorIcon{
   -fx-background-color: #FFFFFF;
}

.background{
   -fx-background-color:#1A202C;
}
.backgroundNavbar{
    -fx-background-color:#000000;
}
.backgroundNavbar.logout{
    -fx-background-color:#171433;
}

.cardBackground{
    -fx-background-color:#2D3440;
}
.circleRed{
    -fx-background-color:-fx-closeButtonColor;
}
.circleYellow{
    -fx-background-color:-fx-minimizeButtonColor;
}
.circleGreen{
    -fx-background-color:-fx-fullScreenButtonColor;
}

.circleRotatedInside{
    -fx-fill:#2D3440;
}
.circleRotatedOutside{
    -fx-fill:#647DD7;
}

.chart-plot-background {
    -fx-background-color: transparent;
}



.chart-bar{
    -fx-horizontal-grid-lines-visible: false;
    -fx-vertical-grid-lines-visible:false;
    -fx-alternative-row-visible: false;
    -fx-alternative-column-visible: false;
    -fx-horizontal-zero-line-visible: false;
    -fx-vertical-zero-line-visible: false;
    -fx-legend-visible: false;

}
.data0.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width:15px;
    -fx-background-radius:3px 3px 0px 0px;
}
.data1.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width:15px;
    -fx-background-radius:3px 3px 0px 0px;
}
.data2.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width:15px;
    -fx-background-radius:3px 3px 0px 0px;
}
.data3.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width:15px;
    -fx-background-radius:3px 3px 0px 0px;
}
.data4.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width:15px;
    -fx-background-radius:3px 3px 0px 0px;
}

