.colorIcon{
    -fx-background-color:#ffffff;
}
.iconHover .colorIcon{
    -fx-background-color:#ffffff;
}
.iconHover .colorIcon:hover{
    -fx-background-color:#ffffff;
}
.background{
    -fx-background-color:#1A202C;
}
.backgroundNavbar{
    -fx-background-color:#000000;
}
.backgroundNavbar.logout{
    -fx-background-color:#171433;
}

.cardBackground{
    -fx-background-color:#2D3440;
}
.circleRed{
    -fx-background-color:-fx-closeButtonColor;
}
.circleYellow{
    -fx-background-color:-fx-minimizeButtonColor;
}
.circleGreen{
    -fx-background-color:-fx-fullScreenButtonColor;
}

.circleRotatedInside{
    -fx-fill:#2D3440;
}
.circleRotatedOutside{
    -fx-fill:#647DD7;
}

.bar-chart {

    -fx-horizontal-grid-lines-visible: false;
    -fx-vertical-grid-lines-visible:false;
    -fx-background-radius: 3px 3px 0px 0px;
    -fx-background-position: left center;

}

.chart-plot-background {
    -fx-background-color: transparent;
}

.data0.chart-bar {
    -fx-bar-fill:#ffffff;
}
.data1.chart-bar {
    -fx-bar-fill:#ffffff;
}

.chart-bar{
    -fx-background-color:transparent;
}
.data0.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width:15px;
    -fx-background-radius:3px 3px 0px 0px;
}
.data1.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width:15px;
    -fx-background-radius:3px 3px 0px 0px;
}
.data2.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width:15px;
    -fx-background-radius:3px 3px 0px 0px;
}
.data3.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width:15px;
    -fx-background-radius:3px 3px 0px 0px;
}
.data4.chart-bar{
    -fx-background-color:#2B49B3;
    -fx-width:15px;
    -fx-background-radius:3px 3px 0px 0px;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.chart-pie-label { /*this is what you need for labels*/
    -fx-fill: #FFFFFF;
    -fx-font-size: 1em;
}
.textLabelColor{
    -fx-text-fill:#FFFFFF;

}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :#2D3440;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}
.logStyle{
    -fx-background-color:#232A36 ;
}
.switchTheme{
    -fx-background-color: #363B56;
}
.switchThemeButton{
    -fx-background-color: #FFFFFF;
}

.choice-box{
    -fx-background-color:#1A202C;
}
.choice-box .label {
    -fx-text-fill: white;
}
.context-menu .label{
    -fx-text-fill: black;
}
.textFieldSearch{
    -fx-text-fill: white;
}
.textAreaTheme{
    -fx-control-inner-background: #1A202C;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius:3px 3px 3px 3px;
}
.textAreaTheme-createPost{
    -fx-control-inner-background: #2D3440;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius:3px 3px 3px 3px;
    -fx-text-box-border:transparent;
}
.iconHover :hover{
    -fx-background-color: #1A202C;
    -fx-background-radius: 5px 5px 5px 5px;
}
