* {
   -fx-closeButtonColor: #FF605C;
   -fx-minimizeButtonColor:#FFBD44;
   -fx-fullScreenButtonColor:#00CA4E;
   -fx-colorPrimary:#D9D9D9;
}

.leftPageRoundedCorner{
    -fx-border-radius:20 0 0 20;
    -fx-background-radius:20 0 0 20;
}
.rightPageRoundedCorner{
    -fx-background-radius:0 20 20 0;
    -fx-border-radius:0 20 20 0;
}

.roundedCorner{
    -fx-border-radius:30px;
    -fx-background-radius:30px;
}
.roundedCornerCard{
    -fx-border-radius:10px;
    -fx-background-radius:10px;
}
.backgroundImage{
    -fx-background-position:center;
    -fx-background-repeat:no-repeat;
    -fx-background-size: cover;
}

.closeButton{
   -fx-background-color:-fx-closeButtonColor;
}
.minimizeButton{
   -fx-background-color:-fx-minimizeButtonColor;
}

.fullScreenButton{
    -fx-background-color:-fx-fullScreenButtonColor;
}

.primaryColor{
    -fx-background-color:#D9D9D9;
}