* {
   -fx-closeButtonColor: #FF605C;
   -fx-minimizeButtonColor:#FFBD44;
   -fx-fullScreenButtonColor:#00CA4E;
   -fx-colorPrimary:#D9D9D9;
}

.leftPageRoundedCorner{
    -fx-border-radius:20 0 0 20;
    -fx-background-radius:20 0 0 20;
}
.rightPageRoundedCorner{
    -fx-background-radius:0 20 20 0;
    -fx-border-radius:0 20 20 0;
}

.roundedCorner{
    -fx-border-radius:30px;
    -fx-background-radius:30px;
}
.roundedCornerCard{
    -fx-border-radius:10px;
    -fx-background-radius:10px;
}
.backgroundImage{
    -fx-background-position:center;
    -fx-background-repeat:no-repeat;
    -fx-background-size: cover;
}

.closeButton{
   -fx-background-color:-fx-closeButtonColor;
}
.minimizeButton{
   -fx-background-color:-fx-minimizeButtonColor;
}

.fullScreenButton{
    -fx-background-color:-fx-fullScreenButtonColor;
}

.primaryColor{
    -fx-background-color:#D9D9D9;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :#2D3440;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
